@font-face {
    font-family: Roboto;
    src: url('roboto/Roboto-Regular-webfont.eot');
    src: url('roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}
div.content{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: white;
}
div.projects{
    padding: 1vw;
    display: block;
    width: 90%;
    height: 30vw;
    border: 1vw solid;
    margin: 5vw auto;
}
ul.header{
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 7vw;
    height: 9.5vw;
    list-style: none;
    padding: 0;
}
li.nav{
    line-height: 100%;
    display: block;
    height: 100%;
    width: 20%;
    text-align: center;
    float: left;
    border-bottom: 1vw solid;
    border-top: 1vw solid;
}
a.navlinks{
    line-height: 9.5vw;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 3.5vw;
    color: #202020;
    text-decoration: none;
}
p{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-size: 3.8vw;
    color: #202020;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    padding: 0;
}
p.about{
    text-align: left;
    border-left: 1vw solid;
    border-right: 1vw solid;
    padding: 0 2vw;
    margin: 3vw auto;
}
p.projects{
    font-size: 2.7vw;
    margin: 1vw auto;
}
h1{
    text-align: center;
    margin: 3% auto;
    color: #202020;
    font-size: 10vw;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
img.footer{
    width: 6vw;
    height: 6vw;
    margin: 1.5vw auto;
}
ul.footer{
    width: 100%;
    margin: 5vw 0;
    height: 9.5vw;
    list-style: none;
    padding: 0;
}
li.links{
    display: block;
    vertical-align: middle;
    height: 100%;
    width: 20%;
    text-align: center;
    float: left;
    border-bottom: 1vw solid;
    border-top: 1vw solid;
}
input{
    font-size: 2.8vw;
    border: .6vw solid;
}
textarea{
    font-size: 2.8vw;
    border: .6vw solid;
}
button{
    text-align: center;
    font-size: 2.8vw;
    width: 15%;
    height: 4.8vw;
    background-color: white;
    margin-top: 2vw;
    margin-bottom: 1vw;
    border: .6vw solid;
}
#link1{
    border-color: #FFBFE9;
}
#link2{
    border-color: #A9C6C6;
}
#link3{
    border-color: #FFCC99;
}
#link4{
    border-color: #ACD9AC;
}
#link5{
    border-color: #E7BCE7;
}
#projects{
    border: .5vw solid #CCCCCC;
}